/**** @Author: Francisco Zapata ****/

/** Reset the document **/

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
}

/** Custom Properties **/

:root {
	--white: rgb(255, 255, 255);
	--white-light: rgba(255, 255, 255, 0.7);
	--black: rgb(0, 0, 0);
	--black-light1: rgb(25, 25, 25);
	--black-light2: rgba(0, 0, 0, 0.7);
	--black-light3: rgb(40, 40, 40);
	--black-light4: rgb(15, 15, 15);
	--degrad-bg: linear-gradient(
		135deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 50%,
		rgba(0, 212, 255, 1) 100%
	);
	--my-yellow: rgb(255, 220, 0);
	--bg-grey1: rgba(164, 164, 164, 0.15);
	--bg-grey2: rgb(10, 10, 10);
	--bg-grey3: rgba(164, 164, 164, 0.35);
	--bg-grey4: rgba(164, 164, 164, 0.85);
}

/** Globals **/

body {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	max-width: 110rem;
	margin: 0 auto;
}

section {
	margin: 4rem 0;
}

@media (min-width: 768px) {
	section {
		margin: 7rem 0;
	}
}

.content {
	padding: 2rem 0;
}

@media (min-width: 768px) {
	.content {
		padding: 4rem 0;
	}
}

i {
	color: var(--my-yellow);
}

.btn {
	background-color: var(--my-yellow);
	border: 2px solid transparent;
	border-radius: 40px;
	color: var(--black-light3);
}

.btn1 {
	padding: 1.5rem 3rem;
	font-size: 2.2rem;
	margin-top: 3rem;
	will-change: transform;
	transition: transform 500ms linear;
}

.btn1:hover {
	background-color: transparent;
	border: 2px solid var(--my-yellow);
	color: var(--white);
	transform: scale(1.1);
	transition: transform 300ms linear;
}

.btn2 {
	padding: 1rem 2rem;
	margin-top: 2rem;
	font-size: 1.9rem;
}

.btn2:hover {
	background-color: transparent;
	border: 2px solid var(--my-yellow);
}

.yellow-bar {
	height: 0.5rem;
	width: 5rem;
	background-color: var(--my-yellow);
	border-radius: 8px;
	margin: 4rem 0;
}

.mini-yellow-bar {
	height: 0.5rem;
	width: 2.5rem;
	background-color: var(--my-yellow);
	border-radius: 8px;
	margin: 2rem 0;
}

/**** HEADER ****/
header {
	background-color: var(--black-light1);
	padding-bottom: 10rem;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

/** NAVEGATION **/
.navegation {
	padding-top: 2rem;
	height: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.navegation {
		padding-top: 5rem;
		height: 7rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

/* Navegation LOGO */
.logo {
	width: 60%;
}

.logo h1 {
	margin: 0;
	color: var(--white);
	font-size: 2.8rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.logo a {
	color: var(--white);
}

.logo .mini-yellow-bar {
	margin: 0;
	width: 3rem;
	will-change: transform;
	transition: transform 400ms linear;
	transform-origin: left;
}

.logo:hover .mini-yellow-bar {
	transform: scaleX(3);
	transform-origin: left;
	transition: transform 400ms linear;
}

/* Navegation NAV Y NAV-MENU */
.hidden {
	display: none;
}

.nav {
	background-color: var(--black-light2);
	will-change: transform;
	transform: translateY(9rem);
	transition: transform 1s linear;
}

.nav .nav-menu {
	padding: 0.5rem 4rem 0.5rem 2rem;
	border-bottom: 0.5px solid var(--bg-grey1);
}

.nav .nav-menu:last-child {
	border-bottom: none;
}

.hambur-menu {
	display: block;
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hambur-menu div {
	height: 0.5rem;
	width: 5rem;
	background-color: var(--my-yellow);
	border-radius: 8px;
	margin: 0.5rem 0;
}

.hambur-menu:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.logo {
		width: 40%;
	}
	.nav {
		background-color: transparent;
		transform: none;
		transition: none;
		width: 60%;
		opacity: 1;
		/* display: block; */
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 0;
	}
	.hambur-menu {
		display: none;
	}
	.nav .nav-menu {
		padding: 0;
		border: none;
	}
}

.nav-menu {
	margin-left: 2rem;
}

.nav-menu li {
	text-align: right;
}

.nav-menu .mini-yellow-bar {
	display: none;
}

@media (min-width: 1070px) {
	.nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 4rem;
	}
	.nav-menu {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		margin-left: 0;
	}
	.nav-menu .mini-yellow-bar {
		display: block;
		margin: 0.5rem 0 0 0;
		opacity: 0;
		will-change: transform;
		transition: transform 800ms linear;
	}
	.nav-menu:hover .mini-yellow-bar {
		transform: scaleX(2);
		opacity: 1;
		will-change: transform;
		transition: transform 300ms linear;
	}
	.nav-menu:last-of-type:hover .mini-yellow-bar {
		color: var(--my-yellow);
		transform: scaleX(1.5);
		will-change: transform;
		transition: transform 200ms linear;
	}
}

.nav-menu a {
	color: var(--white-light);
	font-size: 2rem;
}

.nav-menu a:hover {
	color: var(--white);
}

/** HERO **/
.hero {
	color: var(--white);
}

@media (min-width: 768px) {
	.hero {
		display: flex;
		align-items: center;
		gap: 6rem;
		color: var(--white);
		padding-top: 10rem;
	}
}
/* Navegation INFO */
.info {
	padding-bottom: 4rem;
}

.info p {
	color: var(--white-light);
	font-size: 2.2rem;
	font-weight: 300;
	padding: 1rem 0;
}

.info p span {
	color: var(--white);
	font-size: 4rem;
	font-weight: 600;
}

@media (min-width: 768px) {
	.info {
		padding-bottom: 0;
	}
	.info p {
		font-size: 2.6rem;
	}
	.info p span {
		font-size: 4.4rem;
	}
}

/* Navegation MY-IMAGE */
.hero-image {
	max-width: 75%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

.my-image {
	border-radius: 7px;
	width: 100%;
	background-image: var(--degrad-bg);
	height: 40rem;
}

@media (min-width: 768px) {
	.info {
		width: 67%;
		padding-right: 8rem;
	}
	.hero-image {
		width: 33%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 0;
	}
}

.hero-image img {
	width: 80%;
	border-radius: 7px;
	min-height: 35rem;
	max-height: 40rem;
	box-shadow: 0px 0px 15px var(--black);
	margin-top: -36.5rem;
	object-fit: cover;
}

/**** MAIN ****/
/** PROJECTS **/
h2 {
	color: var(--black-light2);
	text-transform: uppercase;
	font-size: 2.2rem;
	letter-spacing: 0.2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.projects {
	border-top: 3px solid var(--bg-grey1);
}

/* Projects IMAGE **/
.projects-image {
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}
.photo-projects {
	border-radius: 7px;
	background-color: var(--bg-grey1);
	width: 100%;
	height: 50rem;
}

@media (min-width: 768px) {
	.projects {
		display: flex;
		align-items: center;
		gap: 4rem;
		color: var(--black-light2);
	}
	.projects-image {
		width: 58.34%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 0;
	}
	.info-projects {
		width: 41.66%;
	}
}

@media (min-width: 960px) {
	.projects {
		gap: 8rem;
	}
}

.projects-image img {
	width: 90%;
	border-radius: 7px;
	min-height: 50rem;
	max-height: 54rem;
	box-shadow: 0px 0px 15px var(--black-light3);
	margin-top: -48rem;
	object-fit: cover;
}

@media (min-width: 768px) {
	.projects-image img {
		margin-top: -47rem;
	}
}

/* Projects INFO */
.info-projects {
	padding: 2rem;
}

.info-projects h3 {
	font-size: 2.8rem;
	font-weight: 500;
	color: var(--black);
}

.info-projects p {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.6;
	padding: 2rem 0;
}

@media (min-width: 768px) {
	.info-projects h3 {
		font-size: 3.1rem;
	}
	.info-projects p {
		font-size: 2.3rem;
	}
}
.info-projects li {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 2.5;
	font-size: 1.5rem;
	font-weight: 600;
}

.info-projects li i {
	margin-right: 0.5rem;
	font-size: 2rem;
}

/** SAMPLES **/
.section-g {
	background-color: var(--bg-grey1);
	padding: 10rem 0;
	clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
}

.projects-samples {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7rem;
	background: url(../img/bg-stripes.svg) center/46rem no-repeat;
}
.samples1,
.samples2 {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.photo-sample {
	width: 220px;
	height: 205px;
	background-color: var(--white);
	padding: 10px 10px 55px 10px;
	border-radius: 3px;
}
.photo {
	box-shadow: inset 0.5px 0.5px 2px var(--black);
	border: 0.3px solid var(--bg-grey3);
	width: 200px;
	height: 150px;
	border-radius: 5px;
	object-fit: cover;
}

.photo1 {
	transform: rotate(-15deg) translateX(15px);
	box-shadow: -5px -3px 30px var(--bg-grey4);
	z-index: 2;
}
.photo2 {
	transform: rotate(5deg) translateY(35px);
	box-shadow: 5px -2px 25px var(--bg-grey4);
}
.photo3 {
	transform: rotate(10deg) translateY(10px);
	box-shadow: 3px 4px 20px var(--bg-grey4);
	z-index: 2;
}
.photo4 {
	transform: rotate(8deg) translateY(25px) translateX(-50px);
	box-shadow: 4px 4px 25px var(--bg-grey4);
	z-index: 4;
}
.photo5 {
	transform: rotate(-2deg) translateY(15px) translateX(40px);
	box-shadow: -1px -2px 25px var(--bg-grey4);
}

/** SERVICES **/
.services .cards {
	color: var(--black-light2);
	border-top: 3px solid var(--bg-grey1);
}

@media (min-width: 768px) {
	.services .cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;
	}
}

.card {
	background-color: var(--bg-grey1);
	padding: 5rem;
	border-top: 5px solid var(--my-yellow);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	will-change: transform;
	transition: transform 500ms ease;
	margin-bottom: 2rem;
}

.card:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.card {
		width: 42%;
		margin-bottom: 0;
	}
}

.card:hover {
	transform: scale(1.03);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	transition: transform 500ms ease;
}

.card-info {
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--black-light2);
	text-align: center;
	/* align-items: center; */
}

.card h3,
.card-info h3 {
	font-size: 2.3rem;
	font-weight: 500;
	line-height: 1.2;
	color: var(--black-light4);
}

.card h4,
.card-info h4 {
	font-size: 2rem;
	font-weight: 300;
	margin: 1.8rem 0;
	color: var(--black-light1);
}

.card p,
.card-info p {
	line-height: 1.5;
	font-size: 1.8rem;
	font-weight: 300;
}

.card-info span {
	color: var(--my-yellow);
	font-weight: 400;
}

.icon i {
	color: var(--my-yellow);
	font-size: 5rem;
}

.btn-services,
.btn-blog {
	display: flex;
	justify-content: center;
}

/** TESTIMONIALS **/
.slider {
	margin: 0 auto;
	background: url(../img/bg-stripes.svg) center/46rem no-repeat;
	overflow: hidden;
}

.slider ul {
	width: 300%;
	display: flex;
	transition: all 2s;
	animation: slider 21s infinite linear;
}
.slider ul li {
	width: 100%;
}

@keyframes slider {
	0% {
		margin-left: 0;
	}
	31% {
		margin-left: 0;
	}
	33% {
		margin-left: -100%;
	}
	64% {
		margin-left: -100%;
	}
	66% {
		margin-left: -200%;
	}
	97% {
		margin-left: -200%;
	}
}

.testimonials {
	text-align: center;
	color: var(--black-light2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 3rem 2rem 3rem;
}

@media (min-width: 960px) {
	.testimonials {
		padding: 2rem 16rem 6rem 16rem;
	}
}

@media (min-width: 768px) {
	.testimonials {
		padding: 0rem 8rem 4rem 8rem;
	}
}

.testimonials p {
	color: var(--black);
	font-size: 2.7rem;
	font-weight: 300;
}

.testimonials img {
	height: 6.5rem;
	width: 6.5rem;
	border-radius: 50%;
}

.testimonials h4 {
	font-size: 2.1rem;
}

.testimonials h5 {
	font-size: 1.9rem;
	font-weight: 300;
}

.testimonials span {
	color: var(--my-yellow);
	font-weight: 500;
}

@media (min-width: 768px) {
	.testimonials p {
		font-size: 3.2rem;
	}
	.testimonials h4 {
		font-size: 2.3rem;
	}

	.testimonials h5 {
		font-size: 2.1rem;
	}
}

/** BLOG **/
.blog-cards {
	border-top: 3px solid var(--bg-grey1);
}

@media (min-width: 768px) {
	.blog-cards {
		display: flex;
		gap: 3rem;
	}
}

.blog-card {
	background-color: var(--bg-grey1);
	border-radius: 7px;
	margin-bottom: 2rem;
}

.blog-card:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.blog-card {
		width: 33.33%;
		margin-bottom: 0;
	}
}

.blog-card .image {
	position: relative;
}

.blog-card img {
	width: 100%;
	border-radius: 7px 7px 0 0;
	display: block;
}

.blog-card .overlay {
	position: absolute;
	border: none;
	border-radius: 7px 7px 0 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	backdrop-filter: blur(2px);
	transition: opacity 0.5s;
}

.blog-card .overlay i {
	color: var(--white-light);
	border: 3.5px solid var(--white-light);
	border-radius: 50%;
	padding: 1rem 1.3rem;
}

.blog-card .overlay:hover {
	opacity: 1;
}

/**** FOOTER ****/
.footer {
	background-color: var(--black-light1);
	color: var(--white);
	padding-top: 10rem;
	clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 100%);
}

/* Footer INFO */
.to-contact p {
	color: var(--white-light);
	font-size: 2rem;
	padding-bottom: 1rem;
}

.to-contact p span {
	font-size: 3.5rem;
	font-weight: 500;
	color: var(--white);
}

@media (min-width: 768px) {
	.to-contact p {
		font-size: 2.3rem;
	}
	.to-contact p span {
		font-size: 4rem;
	}
}
/* Footer SOCIALS */
.socials {
	padding: 5rem;
}
.socials ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (min-width: 668px) {
	.info-footer {
		display: flex;
		align-items: center;
		padding: 4rem 0 8rem 0;
	}
	.to-contact {
		width: 75%;
	}
	.socials {
		width: 25%;
		padding: 0;
	}
	.socials ul {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.socials a {
	color: var(--white-light);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 3;
	font-size: 1.5rem;
	font-weight: 600;
}

.socials a:hover {
	color: var(--white);
}

.socials i {
	margin-right: 0.5rem;
	font-size: 2rem;
}

/* Footer COPY */
.copy {
	background-color: var(--black-light4);
	border-top: 0.5px solid rgb(255, 255, 255, 0.2);
	color: var(--white-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	padding: 2.5rem;
}
@media (min-width: 768px) {
	.copy {
		padding: 3rem;
	}
}

/**** OTHER PAGES ****/
.header2 {
	height: 12rem;
	padding-bottom: 0;
	clip-path: none;
}

.under-construction {
	background-color: var(--black-light1);
	height: calc(100vh - 12rem);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4rem;
}
